@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ultimate Restaurants Website</h1>
    <p>Learn more about the best Provo restaurants at <a href="https://www.femalefoodie.com/restaurant-reviews/best-places-to-eat-in-utah-county/">the Female Foodie</a>.</p>
    <img src="~/img/restaurant.jpg" class="img-fluid" alt="Responsive image">
</div>
