@{
    ViewData["Title"] = "Top 5 Provo Restaurants";
}

@model IEnumerable<string>

<div class="container">
    <ul class="list-group">
        @foreach (string i in Model)
        {
            <li class="list-group-item">@i</li>
        }
    </ul>
</div>